!!! 5
html
  head
    title Transparen.cc
    meta(charset="utf-8")

    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")  
    script(type="text/javascript", src="socket.io/socket.io.js")


    script(type="text/javascript", src="javascripts/moment.min.js")
    script(type="text/javascript", src="javascripts/jquery.timeago.js")



  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand #{title}

    .container
      .hero-unit
        h1= title
        if log
          table.table.table-striped#auditlog
            tr
              td Time
              td App
              td Data
              td Size
             each item in log
              tr
                td.timeago(title= item.timestamp) time
                td 
                  a(href='app/SuperFunApp') #{item.appname}
                td= item.endpoint.replace('me/', '')
                td= item.data.length

  script(type="text/javascript", src="javascripts/index.js")
